// compileCompressed: /home/guest/shop/css/main.min.css


@import "variables"
@import "mixins"
@import "fonts"
@import url('https://fonts.googleapis.com/css?family=Lato:400,700')

@import "components/header-contact"
@import "components/header-main"
@import "components/header-navigation"
@import "components/header-text-banner"
@import "components/navigation-button"

@import "components/content-banners"
@import "components/quick-links"
@import "components/discount-carousel"

*
  box-sizing: border-box !important

html, body
  height: 100%
  background: #e0e0e0

a
  text-decoration: none
  color: $text-color

ul
  list-style-type: none
  margin: 0
  padding: 0

input
  background: transparent

figure
  margin: 0

button
  outline: none

//класс контейнер
.c
  max-width: 1209px
  padding: 0 20px
  margin: 0 auto

.header
  background-color: $navy-blue
  display: flex
  flex-direction: column

.content
  margin: 26px auto 47px auto

.banners
  display: flex

.banners
  justify-content: space-between

.deal, .quick-link
  background: #fff

.triangle-left
    display: inline-block
    width: 0
    height: 0
    border-style: solid
    border-width: 35px 35px 35px 0

.triangle-right
    display: inline-block
    width: 0
    height: 0
    border-style: solid
    border-width: 35px 0 35px 35px

.lb
  border-color: transparent $blue transparent transparent

.rb
  border-color: transparent transparent transparent $blue

.lt
  border-color: transparent #6980fe transparent transparent

.lr
  border-color: transparent transparent transparent #6980fe
